body {
  font-family: 'Sansita', sans-serif;
  display: flex;
  overflow-x: hidden;
  padding-top: 3rem;
}

.navbar-dark .navbar-nav .nav-link,
body {
  color: #fffFFFD9;
}

#container {
  margin: 0 auto;
  max-width: 1720px !important;
}

.stripe {
  content: "";
  background-color: #121212c7;
  height: 100%
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none
}

@media (min-width:768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem
  }
}

.nav-active {
  border-radius: .25rem;
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-secondary-rgb), var(--bs-bg-opacity)) !important
}

.btn,
table {
  color: #fffFFFD9 !important
}

.main-page-img {
  max-height: 3em
}

.box_major {
  float: left;
  height: 75px;
  width: 75px;
  clear: both;
}

.box_minor {
  float: left;
  height: 55px;
  width: 55px;
  clear: both;
  
}

.box_minor_minor {
  float: left;
  height: 40px;
  width: 40px;
  clear: both;
  
}

.major {
  font-size: 20px;
}

.minor {
  font-size: 16px;
}

.text_label {
  margin-left: 20px;
  padding-top: 5px;
  font-size: 16px;
}

.div-with-imgs {
  display: flex;
  align-items: center;
}

.box-img {
  float: left;
  height: 55px;
  width: 55px;
  clear: both;
  margin: 5px 0;
}

.box-img-smaller {
  float: left;
  height: 40px;
  width: 40px;
  clear: both;
  margin-bottom: 5px;
  margin-top: 5px;
}

.box-img-statistics {
  float: right;
  height: 55px;
  width: 55px;
  clear: both;
  margin: 0 25px 0 0;
}

.img-label {
  margin-left: 10px;
  font-size: 16px;
}

p {
  font-size: 18px;
  margin: 0;
}

h2, h2, h3, h4, h5 {
  font-family: 'Vina Sans', cursive;
}

h3, h4{
  margin-bottom: 0px !important;
}

h2{
  font-size: 400;
}

h3{
  font-size: 200;
}

.animate-charcter {
  text-transform: uppercase;
  background-image: linear-gradient(-225deg,
      #231557 0%,
      #44107a 29%,
      #ff1361 67%,
      #fff800 100%);
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
  font-size: 40px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.fa-shuffle {
  margin-right: 10px;
}

.row{
  margin-left: 0px !important;
}

p.minor{
  margin-left: 10px !important;
}

p.major{
  margin-left: 10px !important;
}

.row{
  margin: 0 !important;
  padding: 0 !important;
}

.img-20 {
  height: 2rem;
  width: 2rem;
}

hr{
  margin: 20px 0 !important;
}

.plike{
  font-size: 18px;
  margin: 0;
}

.header_logo {
  width: 2em;
}

.colorstuff{
  width: max-content;
  display: flex;
  align-items: center;
}

#gender{
  font-size: 18px;
}

/* h1{
  font-size: 18px; 
} */

a {
  text-decoration: none;
  color: lightgrey;
}

a:hover {
  text-decoration: none;
  color: darkgray;
}

.table-primary  td a{
  color:#000;
}