{% extends "base.html" %}
{% block title %}404{% endblock %}
{% block desc %}404{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<div class="container marketing mt-5">
    <div class="alert alert-danger text-center" role="alert">
        <br>
        <b>Erreur 404 - Ressource non trouvée !</b>
        <br>
        <br>
        La ressource que vous recherchez n'éxiste pas ou a été déplacée à un autre endroit ! 
        <br>
        <br>
        Si cette erreur persiste, contactez l'administrateur du site !
        <br>
        <br>
    </div>
</div>
{% endblock %}