{% extends "base.html" %}
{% block title %}500{% endblock %}
{% block desc %}500{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<div class="container marketing mt-5">
    <div class="alert alert-danger text-center" role="alert">
        <br>
        <b>Erreur 500 - Erreur du serveur !</b>
        <br>
        <br>
        Oups... Il semblerai qu'une erreur innatendue soit survenue... C'est fâcheux...
        <br>
        <br>
        Si cette erreur persiste, contactez l'administrateur du site !
        <br>
        <br>
    </div>
</div>
{% endblock %}