<!DOCTYPE html>
<html lang="fr-fr">
<head>
    {% block head %}

    <title>RandomSona Generator - Laissez le hasard créer votre sona pour vous ! </title>
    
    <!-- SEO -->

    <link rel="canonical" href="https://random-sona.fr/">

    <meta charset="utf-8">
    <meta name="language" content="fr-fr"/>

    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content="RandomSona Generator - Laissez le hasard créer votre sona pour vous ! "/>
    <meta name="author" content="KOENIG Guillaume"/>

    <meta property="og:ttl" content="345600"/>
    <meta property="og:url" content="https://random-sona.fr/"/>
    <meta property="og:site_name" content="random-sona.fr"/>
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="RandomSona Generator - Laissez le hasard créer votre sona pour vous ! "/>
    <meta property="og:description" content="RandomSona Generator - Laissez le hasard créer votre sona pour vous ! "/>
    <meta property="og:image" content="{{ url_for('static',filename='images') }}/dice/de{{random_logo}}.png"/>
    <meta property="og:image:width" content="256"/>
    <meta property="og:image:height" content="256"/>

    <meta name="twitter:site" content="random-sona.fr"/>
    <meta name="twitter:card" content="Summary"/>
    <meta name="twitter:title" content="RandomSona Generator - Laissez le hasard créer votre sona pour vous ! "/>
    <meta name="twitter:site" content="@GuillaumeKoenigTncy"/>
    <meta name="twitter:creator" content="@GuillaumeKoenigTncy"/>
    <meta name="twitter:image" content="{{ url_for('static',filename='images') }}/dice/de{{random_logo}}.png"/>
    <meta name="twitter:description" content="RandomSona Generator - Laissez le hasard créer votre sona pour vous ! "/>

    <link rel="apple-touch-icon" sizes="57x57" href="{{ url_for('static',filename='images') }}/dice/de{{random_logo}}.png"/>
    <link rel="apple-touch-icon" sizes="60x60" href="{{ url_for('static',filename='images') }}/dice/de{{random_logo}}.png"/>
    <link rel="apple-touch-icon" sizes="72x72" href="{{ url_for('static',filename='images') }}/dice/de{{random_logo}}.png"/>
    <link rel="apple-touch-icon" sizes="76x76" href="{{ url_for('static',filename='images') }}/dice/de{{random_logo}}.png"/>
    <link rel="apple-touch-icon" sizes="114x114" href="{{ url_for('static',filename='images') }}/dice/de{{random_logo}}.png"/>
    <link rel="apple-touch-icon" sizes="120x120" href="{{ url_for('static',filename='images') }}/dice/de{{random_logo}}.png"/>
    <link rel="apple-touch-icon" sizes="144x144" href="{{ url_for('static',filename='images') }}/dice/de{{random_logo}}.png"/>
    <link rel="apple-touch-icon" sizes="152x152" href="{{ url_for('static',filename='images') }}/dice/de{{random_logo}}.png"/>
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static',filename='images') }}/dice/de{{random_logo}}.png"/>
    <link rel="apple-touch-icon-precomposed" href="{{ url_for('static',filename='images') }}/dice/de{{random_logo}}.png"/>

    <link rel="icon" type="image/webp" sizes="192x192" href="{{ url_for('static',filename='images') }}/dice/de{{random_logo}}.png"/>
    <link rel="icon" type="image/webp" sizes="32x32" href="{{ url_for('static',filename='images') }}/dice/de{{random_logo}}.png"/>
    <link rel="icon" type="image/webp" sizes="96x96" href="{{ url_for('static',filename='images') }}/dice/de{{random_logo}}.png"/>
    <link rel="icon" type="image/webp" sizes="16x16" href="{{ url_for('static',filename='images') }}/dice/de{{random_logo}}.png"/>
    <link rel="icon" type="image/webp" href="{{ url_for('static',filename='images') }}/dice/de{{random_logo}}.png"/>

    <meta name="msapplication-TileColor" content="#ffffff"/>
    <meta name="msapplication-TileImage" content="{{ url_for('static',filename='images') }}/dice/de{{random_logo}}.png"/>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <!-- Custom CSS -->
    <link href="{{ url_for('static',filename='styles/style_minify.css') }}" type="text/css" rel="stylesheet">

    <!-- FontAwesome Icons -->
    <script src="https://kit.fontawesome.com/f88b3658f2.js" crossorigin="anonymous"></script>
 
    <style>
        body{
            background-color: #{{random_bckg}};
        }
        @media (min-width: 768px) {
            .navbar-brand.abs
                {   
                    position: absolute;
                    width: auto;
                    left: 50%;
                    transform: translateX(-50%);
                    text-align: center;
                }
            }
            .navbar-brand.abs {   
                    font-family: 'Vina Sans', cursive;
            }

    </style>

    {% endblock %}
</head>

<body class="d-flex flex-column min-vh-100">
    <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand abs" href="/"><h1>Generate a NEW random SONA !</h1></a>
                <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse" id="collapseNavbar">
                    <img src="{{ url_for('static',filename='images') }}/dice/de{{random_logo}}.png" alt="Logo" title="Logo" class="d-none d-md-block header_logo" alt="">

                    <ul class="navbar-nav">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Expert mode</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item {{ 'nav-active' if page=='faq' }}">
                            <a class="nav-link" href="{{ url_for('faq') }}" title="FAQ">FAQ</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- 
            <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
                <div class="container-fluid">
                
                    <a class="navbar-brand" href="{{ url_for('home') }}" title="Logo Home">&nbsp; My Random Sona </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                        aria-controls="navbarCollapse" aria-expanded="false">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarCollapse">
                        <ul class="navbar-nav me-auto mb-2 mb-md-0">
                            <li class="nav-item {{ 'nav-active' if page=='home' }}">
                                <a class="nav-link" href="{{ url_for('home') }}" title="Home">My Random Generated Sona</a>
                            </li>

                        </ul>
                    </div>
                </div>
            </nav>
        -->
    </header>

    <div id="content">
        <main class="flex-fill">
            {% block content %}{% endblock %}
        </main>
    </div>

    {% block footer %}
    <footer class="footer mt-auto py-3 bg-dark">
        <div class="container">
            <span class="text-muted">&copy; 2023 - KOENIG Guillaume</span>
            <hr>
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-4">
                            <a href="{{ url_for('legal') }}" title="Mentions légales">Mentions légales</a>
                        </div>
                        <div class="col-md-4" >
                            <a href="{{ url_for('changelog') }}" title="Changelog">Changelog</a>
                        </div>
                        <div class="col-md-4" >
                            <a href="{{ url_for('statistics') }}" title="Statistics">Statistics</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    {% endblock %}


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.js"></script>

</body>
</html>