{% extends "base.html" %}
{% block title %}Changelog{% endblock %}
{% block desc %}Changelog{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<div class="container marketing mt-5">
    <div class="row stripe">
        <div class="row featurette p-2">
            <div class="col-md-12">
                <h1 class="featurette-heading text-center">Changelog</h1>
            </div>
        </div>
    </div>
    <hr class="featurette-divider">
    <div class="row stripe">
        <div class="row featurette p-3">
            <div class="col-md-12">
                <h2>Changelog</h2>
                <br>
                <h3>[1.0.0] - 11/03/2023 - VERSION 1.0.0</h3>
                <p>
                    <ul>
                        <li>Première version</li>
                    </ul>
                </p>
            </div>
            <div class="col-md-12">
                <h2>Gitlab</h2>
                <p>Le code du projet est ouvert à la consultation sur <a href="https://gitlab.com/GuillaumeKoenigTncy/jeanconnu">Gitlab</a>.</p>
            </div>
        </div>
    </div>
    <hr class="featurette-divider">
</div>
{% endblock %}