{% extends"base.html"%}
{% block title %}Acceuil{% endblock %}
{% block desc %}{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Sansita&family=Vina+Sans&display=swap" rel="stylesheet">

<style>
	.fa-magnifying-glass {
		color:#{{random_bckg}}
	}
</style>

<div class="container marketing stripe featurette mt-4 mb-3 p-3">
	<div class="col-md-12">
		<div id="loader1" class="col-md-12 text-center" style="padding-top: 50px; padding-bottom: 50px;">
			<p style="width:100%; color: #{{random_bckg}};"><i class="fa-solid fa-dice-two fa-spin fa-4x"></i></p>
			<br><br><br>
			<h3 class="animate-charcter">Generation a random Fursona...</h3>
		</div>

		<div id="noloader1" class="row" style="vertical-align: middle !important; ">
			<div class="col-12 row">
				<div class="col-6 col-md-3">
					<h2>Major species</h2>
					<p class="ms-2">
						<i id="reroll_specmajor" class="ms-2 fa-solid fa-shuffle"></i>
						<span class="plike" id="specmajor">
							{{ my_fursona.fursona_species_major }}
							<a class="ms-1" target="_blank"
								href="https://a-z-animals.com/animals/{{ my_fursona.fursona_species_major }}/"><i
									class="fa-solid fa-magnifying-glass"></i></a>
						</span>
					</p>
				</div>
				<div class="col-6 col-md-3">
					<h2>Minors species</h2>
					<i id="reroll_specminor" class="ms-2 fa-solid fa-shuffle"></i>
					<span class="plike" id="specminor">
						{% if my_fursona.fursona_species_minor|length == 0 %}
						<span class="ms-2"> Your fursona is just a pure <b>{{ my_fursona.fursona_species_major
								}}</b></span>
						{% else %}
						<span class="ms-2">
							{% for species in my_fursona.fursona_species_minor %}
							<span style="white-space: nowrap;">
								{{ species }}
								<a class="ms-1 me-2" target="_blank"
									href="https://a-z-animals.com/animals/{{ species }}/"><i
										class="fa-solid fa-magnifying-glass"></i></a>
							</span>
							{% endfor %}
						</span>
						{% endif %}
					</span>
				</div>

				<div class="col-12 col-md-6 col-lg-2">
					<div class="div-with-imgs">
						<h2>Gender <i id="reroll_gender" class="ms-2 fa-solid fa-shuffle"></i></h2>
					</div>
					<div class="div-with-imgs">
						<img id="gender_img" class="img-20 ms-2 box-img"
						src="{{ url_for('static',filename='images') }}/genders/{{my_fursona.fursona_gender[0]}}.png">
						<p class="img-label" id="gender">{{ my_fursona.fursona_gender[0].capitalize() }} {% if
							my_fursona.fursona_gender|length == 2 %} {{ my_fursona.fursona_gender[1] }} {% endif %}</p>
					</div>
				</div>

				<div class="col-6 col-md-3 col-lg-2">
					<h2>Height</h2>
					<div class="div-with-imgs">
						<i id="reroll_height" class="ms-2 fa-solid fa-shuffle"></i>
						<p id="height">{{ my_fursona.fursona_height.capitalize() }}</p>
					</div>
				</div>

				<div class="col-6 col-md-3 col-lg-2">
					<h2>Weight</h2>
					<div class="div-with-imgs">
						<i id="reroll_weight" class="ms-2 fa-solid fa-shuffle"></i>
						<p id="weight">{{ my_fursona.fursona_weight.capitalize() }}</p>
					</div>
				</div>
			</div>

			<hr>
			<!-- =========================================================================================================== -->

			<div class="col-12 row">
				<div class="col-12 col-md-6 col-lg-3">
					<h2>Majors colors <i id="reroll_colormajor" class="ms-2 fa-solid fa-shuffle"></i></h2>
					<div class="col-md-12 row">
						<div id="colormajor" class="colorstuff">
							<div class='box_major' style="background-color: {{ my_fursona.fursona_color_major }};">
							</div>
							<p class="major">{{ my_fursona.fursona_color_major }}</p>
						</div>
					</div>
				</div>
				<div class="col-12 col-md-6 col-lg-5">
					<h2>Minors colors <i id="reroll_colorminor" class="ms-2 fa-solid fa-shuffle"></i></h2>
					<div id="colorminor" class="col-md-12 row">
						{% for color in my_fursona.fursona_color_minor %}
						<div class="colorstuff">
							<div class='box_minor' style="background-color: {{color}};">
							</div>
							<p class="minor">{{color}}</p>
						</div>
						{% endfor %}
					</div>
				</div>
				<div class="col-12 col-md-6 col-lg-4 row">
					<div class="col-6">
						<h2>Eyes color <i id="reroll_coloreyes" class="ms-2 fa-solid fa-shuffle"></i></h2>
						<div class="col-md-12 row">
							<div id="coloreyes" class="colorstuff">
								<div class='box_minor_minor'
									style="background-color: {{my_fursona.fursona_eyes_color}};">
								</div>
								<p class="minor">{{ my_fursona.fursona_eyes_color.capitalize() }}</p>
							</div>
						</div>
					</div>
					<div class="col-6">
						<h2>Mucosa <i id="reroll_colorskin" class="ms-2 fa-solid fa-shuffle"></i></h2>
						<div class="col-md-12 row">
							<div id="colorskin" class="colorstuff">
								<div class='box_minor_minor'
									style="background-color: {{my_fursona.fursona_skin_color}};">
								</div>
								<p class="minor">{{ my_fursona.fursona_skin_color.capitalize() }}</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div id="loader2" class="col-md-12 text-center" style="padding-top: 50px; padding-bottom: 50px;">
				<p style="width:100%; color: #{{random_bckg}};"><i class="fa-solid fa-dice-five fa-spin fa-4x"></i></p>
				<br><br><br>
				<h3 class="animate-charcter">OwOing the Fursona...</h3>
			</div>
		</div>

		<hr>
		<!-- =========================================================================================================== -->

		<div id="noloader2" class="row">

			<div class="col-md-3 row" style="display:block;">
				<h2>My favorites !</h2>
				<div class="col-md-12 row" style="display: flex; align-items: center;">
					<div class="col-3">
						<h3 class="ms-2">Food</h3>
					</div>
					<div class="col-9 div-with-imgs">
						<i id="reroll_food" class="fa-solid fa-shuffle"></i>
						<img id="food_img" class="box-img"
							src="{{ url_for('static',filename='images') }}/foods/{{my_fursona.fursona_food}}.png">
						<p id="food" class="img-label">{{ my_fursona.fursona_food.capitalize() }}</p>
					</div>
				</div>
				<div class="col-md-12 row" style="display: flex; align-items: center;">
					<div class="col-3">
						<h3 class="ms-2">Drink</h3>
					</div>
					<div class="col-9 div-with-imgs">
						<i id="reroll_drink" class="fa-solid fa-shuffle"></i>
						<img id="drink_img" class="box-img"
							src="{{ url_for('static',filename='images') }}/drinks/{{my_fursona.fursona_drink}}.png">
						<p id="drink" class="img-label">{{ my_fursona.fursona_drink.capitalize() }}</p>
					</div>
				</div>
				<div class="col-md-12 row" style="display: flex; align-items: center;">
					<div class="col-3">
						<h3 class="ms-2">Season</h3>
					</div>
					<div class="col-9 div-with-imgs">
						<i id="reroll_season" class="fa-solid fa-shuffle"></i>
						<img id="season_img" class="box-img"
							src="{{ url_for('static',filename='images') }}/seasons/{{my_fursona.fursona_season}}{{random_season}}.png">
						<p id="season" class="img-label">{{ my_fursona.fursona_season.capitalize() }}</p>
					</div>
				</div>
			</div>

			<div class="col-md-3 row" style="display: block;">
				<h2>Hobbies <i id="reroll_hobbies" class="ms-2 fa-solid fa-shuffle"></i></h2>
				<div id="hobbies">
					{% for hobby in my_fursona.fursona_hobbies %}
					<div class="col-md-12 div-with-imgs">
						<img class="box-img" src="{{ url_for('static',filename='images') }}/hobbies/{{hobby}}.png">
						<p class="img-label">{{ hobby.capitalize() }}</p>
					</div>
					{% endfor %}
				</div>
			</div>
			<div class="col-md-3">
				<h2>Likes <i id="reroll_likes" class="ms-2 fa-solid fa-shuffle"></i></h2>
				<div id="likes">
					{% for like in my_fursona.fursona_likes %}
					<div class="col-md-12 div-with-imgs">
						<img class="box-img" src="{{ url_for('static',filename='images') }}/likes/{{like}}.png">
						<p class="img-label">{{ like.capitalize() }}</p>
					</div>
					{% endfor %}
					<div class="col-md-12 div-with-imgs">
						<img class="box-img"
							src="{{ url_for('static',filename='images') }}/likes/smells/{{my_fursona.fursona_likes_smell}}.png">
						<p class="img-label">{{ my_fursona.fursona_likes_smell.capitalize() }}</p>
					</div>
				</div>
			</div>

			<div class="col-md-3 row" style="display: block;">
				<h2>Dislikes <i id="reroll_dislikes" class="ms-2 fa-solid fa-shuffle"></i></h2>
				<div id="dislikes">
					{% for dislike in my_fursona.fursona_dislikes %}
					<div class="col-md-12 div-with-imgs">
						<img class="box-img" src="{{ url_for('static',filename='images') }}/dislikes/{{dislike}}.png">
						<p class="img-label">{{ dislike.capitalize() }}</p>
					</div>
					{% endfor %}
				</div>
			</div>

			<hr>
			<!-- =========================================================================================================== -->

			<div class="col-md-3 row" style="display: block;">
				<h2>Am I doing sport ?</h2>
				<div class="col-md-12 div-with-imgs">
					<i id="reroll_sport" class="ms-2 fa-solid fa-shuffle"></i>
					<img id="sport_img" class="box-img"
						src="{{ url_for('static',filename='images') }}/sports/{{my_fursona.fursona_sport}}.png">
					<p id="sport" class="img-label">{{ my_fursona.fursona_sport.capitalize() }}</p>
				</div>
			</div>

			<div class="col-md-3 row" style="display: block;">
				<h2>Do I have a pet ?</h2>
				<div class="col-md-12 div-with-imgs">
					<i id="reroll_pet" class="ms-2 fa-solid fa-shuffle"></i>
					<img id="pet_img" class="box-img"
						src="{{ url_for('static',filename='images') }}/pets/{{my_fursona.fursona_pet}}.png">
					<p id="pet" class="img-label">{{ my_fursona.fursona_pet.capitalize() }}</p>
				</div>
			</div>

			<div class="col-md-3 row" style="display: block;">
				<h2>Where do I live ?</h2>
				<div class="col-md-12 div-with-imgs">
					<i id="reroll_where" class="ms-2 fa-solid fa-shuffle"></i>
					<img id="where_img" class="box-img"
						src="{{ url_for('static',filename='images') }}/wheres/{{my_fursona.fursona_where}}.png">
					<p id="where" class="img-label">{{ my_fursona.fursona_where.capitalize() }}</p>
				</div>
			</div>

			<div class="col-md-3 row" style="display: block;">
				<h2>When do I live ?</h2>
				<div class="col-md-12 div-with-imgs">
					<i id="reroll_when" class="ms-2 fa-solid fa-shuffle"></i>
					<img id="when_img" class="box-img"
						src="{{ url_for('static',filename='images') }}/whens/{{my_fursona.fursona_when}}.png">
					<p id="when" class="img-label">{{ my_fursona.fursona_when.capitalize() }}</p>
				</div>
			</div>

			<hr>
			<!-- =========================================================================================================== -->

			<div class="col-md-3 row" style="display: block;">
				<h3>Favorite music</h3>
				<div class="col-12">
					<p>{{ my_fursona.fursona_music_genre }}</p>
					<iframe style="border-radius:12px"
						src="https://open.spotify.com/embed/track/{{track_id}}?utm_source=generator&theme=0"
						width="100%" height="152" frameBorder="0" allowfullscreen=""
						allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
						loading="lazy"></iframe>
				</div>
			</div>

			<div class="col-md-3">
				<h3>Friends</h3>
				Your sona has {{ my_fursona.fursona_number_of_friends }} friends.
				<br>
				<br>
				<h4>Favorite activity ?</h4>
				<div class="col-md-12 div-with-imgs">
					<img class="box-img"
						src="{{ url_for('static',filename='images') }}/likes/friends/{{my_fursona.fursona_likes_friends}}.png">
					<p class="img-label">{{ my_fursona.fursona_likes_friends.capitalize() }}</p>
				</div>
			</div>

			<div class="col-md-3">
				<h3>Relationship</h3>
				<i id="reroll_relationship" class="fa-solid fa-shuffle"></i>
				<p>Actually <span id="relationship">{{ my_fursona.fursona_relationship_status }}</span></p>
			</div>

			<div class="col-md-3 row">
				<div class="col-md-6">
					<h4>Sexuality</h4>
					<div class="col-md-12 div-with-imgs">
						<i id="reroll_sexuality" class="fa-solid fa-shuffle"></i>
						<img id="sexuality_img" class="box-img-smaller"
							src="{{ url_for('static',filename='images') }}/sexualitys/{{my_fursona.fursona_sexuality}}.png">
						<p id="sexuality" class="img-label">{{ my_fursona.fursona_sexuality.capitalize() }}</p>
					</div>
				</div>
			</div>


		</div>
	</div>

	<script src="https://code.jquery.com/jquery-3.7.0.js"
		integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>

	<script>
		$(document).ready(function () {
			$("i[id^='reroll_']").on('click', function (event) {
				var who = event.target.id;
				$.ajax({
					url: '/reroll?reroll=' + who,
					datatype: "json",
					success: function (data) {
						who = who.replace("reroll_", "")
						if (who == "specmajor") {
							html = data[who] + '<a class="ms-1" target="_blank" href="https://a-z-animals.com/animals/' + data[who] + '/"><i class="fa-solid fa-magnifying-glass"></i></a>'
							$('#specmajor').html(html);
						} else if (who == "specminor") {
							html = data[who] + '<a class="ms-1" target="_blank" href="https://a-z-animals.com/animals/' + data[who] + '/"><i class="fa-solid fa-magnifying-glass"></i></a>'
							$('#specminor').html(html);
						} else if (who == "colormajor") {
							html = '<div class="box_major" style="background-color: '+ data[who] +'";"></div><p class="major">'+ data[who] +'</p>'
							$('#colormajor').html(html);
						} else if (who == "colorminor") {
							html = '<div class="colorstuff"><div class="box_minor" style="background-color: '+ data[who] +'";"></div><p class="minor">'+ data[who] +'</p></div>'
							$('#colorminor').html(html);
						} else if (who == "coloreyes") {
							html = '<div class="box_minor_minor" style="background-color: '+ data[who] +';"></div><p class="minor">'+ data[who] +'</p>'
							$('#coloreyes').html(html);
						} else if (who == "colorskin") {
							html = '<div class="box_minor_minor" style="background-color: '+ data[who] +';"></div><p class="minor">'+ data[who] +'</p>'
							$('#colorskin').html(html);
						} else if (who == "hobbies") {
							html = ""
							for (const element of data["hobbies"]) {
								html += '<div class="col-md-12 div-with-imgs"> <img class="box-img" src="{{ url_for('static',filename='images') }}/hobbies/' + element + '.png"> <p class="img-label">' + element.charAt(0).toUpperCase() + element.slice(1) + '</p> </div>'
							}
							$('#hobbies').html(html);
						} else if (who == "dislikes") {
							html = ""
							for (const element of data["dislikes"]) {
								html += '<div class="col-md-12 div-with-imgs"> <img class="box-img" src="{{ url_for('static',filename='images') }}/dislikes/' + element + '.png"> <p class="img-label">' + element.charAt(0).toUpperCase() + element.slice(1) + '</p> </div>'
							}
							$('#dislikes').html(html);
						} else if (who == "likes") {
							html = ""
							last = data["likes"].pop()
							for (const element of data["likes"]) {
								html += '<div class="col-md-12 div-with-imgs"> <img class="box-img" src="{{ url_for('static',filename='images') }}/likes/' + element + '.png"> <p class="img-label">' + element.charAt(0).toUpperCase() + element.slice(1) + '</p> </div>'
							}
							html += '<div class="col-md-12 div-with-imgs"> <img class="box-img" src="{{ url_for('static',filename='images') }}/likes/smells/' + last + '.png"> <p class="img-label">' + last.charAt(0).toUpperCase() + last.slice(1) + '</p> </div>'
							$('#likes').html(html);
						} else {
							$('#' + who).html(data[who]);
							if (who == "season") {
								data[who] = data[who] + Math.floor((Math.random() * 4) + 1);
							}
							if (who == "gender") {
								$('#' + who).html(data[who][0]);
								if (data[who][0] == "Trans") {
									$('#' + who).html(data[who][0] + " " + data[who][1]);
								}
								data[who] = data[who][0];
							}
							$('#' + who + '_img').attr("src", "{{ url_for('static',filename='images') }}/" + who + "s/" + data[who].toLowerCase() + ".png");
						}
					}
				});
			});
		});
		$(document).ready(function () {
			$('#noloader1').hide();
			$('#noloader2').hide();
			setTimeout(function () {
				$('#loader1').hide();
				$('#noloader1').show();
			}, 0);

			$('#loader2').show();
			setTimeout(function () {
				$('#loader2').hide();
				$('#noloader2').show();
			}, 0);
		});
	</script>


	{% endblock %}