{% extends "base.html" %}
{% block title %}Mentions légales{% endblock %}
{% block desc %}Mentions légales{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<div class="container marketing mt-5">
    <div class="row stripe">
        <div class="row featurette p-2">
            <div class="col-md-12">
                <h1 class="featurette-heading text-center">Mentions légales et crédits</h1>
            </div>
        </div>
    </div>
    <hr class="featurette-divider">
    <div class="row stripe">
        <div class="row featurette p-3">
            <div class="col-md-12">
                <h2>Mentions légales</h2>
                <p>Ce site web n'est pas géré par une entreprise. Il est la propriété exclusive de KOENIG Guillaume.</p>
                <p>Tous les contenus de ce site internet - textes, photographies, illustrations, etc. - sont protégés par les lois françaises et internationales du droit d'auteur et pas les lois concernant la propriété intellectuelles. Toute reproduction de ces contenus est interdite sans autorisation écrite au préalable.</p>
                <br>
                <h2>Crédits</h2>
                <p>Ce site web a été réalisé par KOENIG Guillaume.</p>
                <br>
                <h2>Technologies et hébergement</h2>
                <p>Ce site utilise des technologies web traditionnelles (HTML5, CSS3, javascript et Python). Les frameworks utilisés sont Bootstrap 5 (pour le CSS) et Flask (pour le backend). Le site utilise en partie la police Font-Awesome 5.</p>
                <p>Le site web est hébergé par OVH France.</p>
            </div>
        </div>
    </div>
    <hr class="featurette-divider">
</div>
{% endblock %}