{% extends "base.html" %}
{% block title %}FAQ{% endblock %}
{% block desc %}FAQ{% endblock %}
{% block head %}
{{ super() }}
<meta name="robots" content="noindex, nofollow">
{% endblock %}
{% block content %}
<div class="container marketing mt-5">
    <div class="row stripe">
        <div class="row featurette p-2">
            <div class="col-md-12">
                <h1 class="featurette-heading text-center">Statistics</h1>
            </div>
        </div>
    </div>
    <hr class="featurette-divider">
    <div class="row stripe">
        <div class="row featurette p-3">
            <div class="col-md-4">
                <table class="table table-striped table-dark">
                    <thead>
                        <tr>
                            <th scope="col">Colors</th>
                            <th scope="col">Number of #</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for stat in colors_statistics %}
                        <tr {% if requested == stat %} class="table-primary" {% endif %}>
                            <td scope="row"><a href="{{ url_for('statistics', detail=stat) }}">{{ stat|title|replace("_", " ") }}</a></td>
                            <td>{{ colors_statistics[stat] }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    <thead>
                        <tr>
                            <th scope="col">Without pictures</th>
                            <th scope="col">Number of #</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for stat in nopics_statistics %}
                        <tr {% if requested == stat %} class="table-primary" {% endif %}>
                            <td scope="row"><a href="{{ url_for('statistics', detail=stat) }}">{{ stat|title|replace("_", " ") }}</a></td>
                            <td>{{ nopics_statistics[stat] }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    <thead>
                        <tr>
                            <th scope="col">With pictures</th>
                            <th scope="col">Number of #</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for stat in pics_statistics %}
                        <tr {% if requested == stat %} class="table-primary" {% endif %}>
                            <td scope="row"><a href="{{ url_for('statistics', detail=stat) }}">{{ stat|title|replace("_", " ") }}</a></td>
                            <td>{{ pics_statistics[stat] }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>


            {% if details and details | length > 15 %}
                <div class="col-md-4">
                    <table class="table align-middle table-striped table-dark">
                        <thead>
                            <tr>
                                <th scope="col">{% if requested %}{{ requested|title|replace("_", " ") }}{% else %}No Data to display{% endif %}
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if details %}
                                {% for d in details[0 : (details | length/2) | int + 1 ] %}
                                <tr>
                                    <td>{{ d.capitalize() }}</td>

                                    {% if requested in colors_statistics %}
                                    <td class="w-25" style="background-color: {{d}}; box-shadow: none;">
                                    </td>
                                    {% elif requested in pics_statistics %}
                                    <td class="w-25">
                                        <img id="img" class="box-img-statistics" src="{{ url_for('static',filename='images') }}/{{ requested | replace('likes_generals','likes') | replace('likes_smells','likes/smells') | replace('likes_friends','likes/friends') }}/{{ d }}.png">
                                    </td>
                                    {% else %}
                                        <td></td>
                                    {% endif %}
                                </tr>
                                {% endfor %}
                            {% endif %}
                        </tbody>
                    </table>
                </div>
                <div class="col-md-4">
                    <table class="table align-middle table-striped table-dark">
                        <thead>
                            <tr>
                                <th>&nbsp;</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if details %}
                                {% for d in details[(details | length/2) | int + 1 : ] %}
                                <tr>
                                    <td>{{ d.capitalize() }}</td>

                                    {% if requested in colors_statistics %}
                                    <td class="w-25" style="background-color: {{d}}; box-shadow: none;">
                                    </td>
                                    {% elif requested in pics_statistics %}
                                    <td class="w-25">
                                        <img id="img" class="box-img-statistics" src="{{ url_for('static',filename='images') }}/{{ requested | replace('likes_generals','likes') | replace('likes_smells','likes/smells') | replace('likes_friends','likes/friends') }}/{{ d }}.png">
                                    </td>
                                    {% else %}
                                        <td></td>
                                    {% endif %}
                                </tr>
                                {% endfor %}
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            {% else %}
                <div class="col-md-8">
                    <table class="table align-middle table-striped table-dark">
                        <thead>
                            <tr>
                                <th scope="col">{% if requested %}{{ requested|title|replace("_", " ") }}{% else %}No Data to display{% endif %}
                                </th>
                                <th></th>
                                {% if requested == "seasons" %}
                                    <td></td> <td></td> <td></td>
                                {% endif %}
                            </tr>
                        </thead>
                        <tbody>
                            {% if details %}
                                {% for d in details %}
                                <tr>
                                    <td class="w-25">{{ d.capitalize() }}</td>
                                    {% if requested in colors_statistics %}
                                    <td class="w-25" style="background-color: {{d}}; box-shadow: none;">
                                    </td>
                                    {% elif requested in pics_statistics %}
                                        {% if requested == "seasons" %}
                                            {% for x in [1,2,3,4] %}
                                            <td class="w-10">
                                                <img id="img" class="box-img-statistics" src="{{ url_for('static',filename='images') }}/{{ requested | replace('likes_generals','likes') | replace('likes_smells','likes/smells') | replace('likes_friends','likes/friends') }}/{{ d }}{{ x }}.png">
                                            </td>
                                            {% endfor %}
                                        {% else %}
                                            <td class="w-25">
                                                <img id="img" class="box-img-statistics" src="{{ url_for('static',filename='images') }}/{{ requested | replace('likes_generals','likes') | replace('likes_smells','likes/smells') | replace('likes_friends','likes/friends') }}/{{ d }}.png">
                                            </td>
                                        {% endif %}
                                    {% else %}
                                        <td class="w-25"></td>
                                    {% endif %}
                                </tr>
                                {% endfor %}
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}